# Dependências
node_modules/

# Relatórios Cypress + Mochawesome
cypress/reports/
cypress/results/
mochawesome-report/
mochawesome.json

# Artefatos de execução
*.log
*.tmp
*.lock

# Cache Cypress
cypress/screenshots/
cypress/videos/

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local
